* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/mountain.jpg")  no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: verdana;
    font-weight: bold;
}


main {
    margin: 5em;
}


input, select, button {
    border: black 2px solid;
    border-radius: 5%;
    margin-bottom: 1.5em;
    width: 10em;
}


label {
    margin-bottom: 0.2em;
    display: block;
}


.container {
    background-color: white;
    margin-top: 5em;
    margin-left: 30em;
    margin-right: 30em;
    padding: 5em;
    background: radial-gradient(white, transparent);
    border-radius: 30px;
}


footer {
    position: fixed;
    bottom: 5px;
}


.button {
    background-color: white;
    font-weight: bold;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}







